* {
  margin: 0;
  padding: 0;
}
#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.container-fluid {
  background-color: #E6DFD8;
}
.navbar-brand {
  padding: 5px 15px;
  border: 1px solid black;
}
.background-image {
  width: 100%;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  font-size: 90px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
.sub-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,60%);
  color: white;
  font-size: 20px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}
.background-image {
  padding: 35px;
  position: absolute;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.background-image a {
  color: white;
  text-shadow: none;
}
.background-margin{
  margin: 605px;
}
.card-footer {
  background-color: #E6DFD8;
}
